*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container img {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}

header {
	height: 10vh;
}

input, .form-control {
	width: 90%;
	height: 30px;
}

.search {
	margin: 40px auto;
}

.base {
	position: relative;
}

.title {
	z-index: 10;
	position: absolute;
	top: 100px;
	color: white;
}

.search {
	height: 10vh;
}

.login {
	display: none;
}