*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Acme', sans-serif;
}

/*seccion login, titulo y logo*/


#intro {
  position: absolute;
  top:40vh;
  background: linear-gradient(to bottom, rgba(255,255,255,.6), #fff);
  padding: 15px;
  width: 100%;
  height: 60vh;
  transition: top .5s, height .5s;
  color: #000 !important;
}

#loginSection{
	background-image: url(../img/fondo.jpg);
	width: 100%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120vh;
  height: auto;
  color: #fff;
  position: fixed;
  padding-top: 1em;
  z-index: 2;
}

#welcome-title{
	margin-top: 1em;
}

#logoNasa{
	margin: 2em 0;
}

/*input {
	margin: 1.4em 1em;
	width: 70%;
	height: 2.2em;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	padding-left: 1em;
	font-size: 1.4em;
	height: 2.4em;
}*/


.modal-title{
	color: #000;
	font-size: 2em;
}

.modal-backdrop {
	z-index: 1 !important;
}

#myModal{
	z-index: 100;
}

.input-modal{
	background-color: #000;
}

button {
	margin: 0.8em 2em;
	width: 30%;
	background-color: #0074c1;
	height: 2.2em;
	color: #000;
	font-size: 1.4em;
	height: 2.4em;
}

button:hover{
	color: #fff !important;
	background-color: transparent;
	border: 1px solid #fff;
}

.redButton{
	margin: 0.8em 2em;
	width: auto;
	color: #000;
}

.redButton:hover {
	color: #fff !important;
	background-color: transparent;
	border: 1px solid #fff;
}

@media only screen and (min-width: 710px) {

	button{
	margin: 1em 2em;
	width: 10%;
	height: 2.2em;
	font-size: 1.4em;
	height: 2.4em;
	}

	input {
	margin: 1em 1em;
	width: 20%;
	height: 2.2em;
	font-size: 1.4em;
	height: 2.4em;
	}
}
/*--------------------------------*/
/*fin seccion login, titulo y logo*/
/*--------------------------------*/

#container img {
	width: 100%;
	height: 80vh;
	object-fit: center;
}

.filterSection {
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.form-control {
	margin: 5px 10px;
	background-color: transparent;
	height: 30px;
	border: none;
	border-radius: unset;
	border-bottom: 1px solid white;
	color: white;
}

input::placeholder {
	color: #fff !important;
}

select option {
  margin: 40px;
  background: black;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#btnSearch {
	margin: 0.8em 2em;
	width: auto;
	color: #000;
}

#btnSearch:hover {
	color: #fff !important;
	background-color: transparent;
	border: 1px solid #fff;
}

#slide {
	background-color: black;
	cursor: pointer;
}


